/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Import Blackjack icon 
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/card-spades.css');*/

/* Global style */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #0a0908;
    overflow-x: hidden;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #f2f4f3;
    padding: 0 1rem;
    z-index: 999;
    width: 100%;

}

h1 {
    font-size: 150%;
}

#logo {
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
    color: #0a0908;
    font-size: 100%;
}

main {
    flex: 1 0 auto;
    margin-top: 39px;
    display: flex;
}

/* Game buttons */
.btn {
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #1a936f;
    color:antiquewhite;
    position: relative;
    /*float: right;*/
}

.game-area {
    height: 80vh;
    width: 65%;
    border: 1px solid antiquewhite;
    margin: 15px 20px;
    position: relative;
    float: left;
    background-color: #58641d;
}

.buttons {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin: 20px;
}


/*.how-to-play {
    display: flex;
    align-items: ;
}*/

.betting-sums {
    background-color: #1a936f;
    color: #f2f4f3;
    margin: 5px;
    border: 1px solid #f2f4f3;
    padding: 5px;
    border-radius: 5px;
}

#current-bet {
    background-color: #1a936f;
    color: #f2f4f3;
    margin: 5px;
    border: 1px solid #f2f4f3;
    padding: 5px;
    border-radius: 5px;
}