/* Global style */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(17, 21, 22);
}

/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
    font-weight: lighter;
    color:antiquewhite;
}

.btn {
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgb(50, 109, 23);
    color:antiquewhite
}