/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Import Blackjack icon */
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/card-spades.css');

/* General styles */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0a0908;
    overflow-x: hidden;
}

/* Header */
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #f2f4f3;
    padding: 0 1rem;
    z-index: 999;
    width: 100%;

}

h1 {
    font-size: 150%;
    /* To fix a bug where the icon was under the text */
    display: inline-flex;
    align-items: center;
}

#logo {
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
    color: #0a0908;
    font-size: 100%;
    /* To bring the logo to the center of the header */
    display: inline-flex;
    justify-content: center;
}

.gg-card-spades {
    font-size: 90%;
    margin: 4px;
    padding: 3px;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 39px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Main game area */
#top-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 5px 0 5px;
}

.game-area {
    height: auto;
    width: 90%;
    border: 1px solid antiquewhite;
    margin: 15px 20px;
    position: relative;
    background-color: #1a936f;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex: 3 0 auto;
    flex-flow: column wrap;
}

#player-title,
#dealer-title {
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
    color: #0a0908;
    text-align: center;
    position: relative;
    margin-top: 5px;
    z-index: 99;
}

#dealer-count,
#colon {
    display: none;
}

hr {
    border-top: 1px solid #0a0908;
    display: block;
}

.player-area {
    width: 50%;
    height: 50%;
    align-self: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-area img {
    width: 6rem;
    height: 9rem;
    position: relative;
    margin: 9px;
}

.dealer-area {
    width: 50%;
    height: 50%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.dealer-area img {
    width: 6rem;
    height: 9rem;
    position: relative;
    margin: 9px;
}

.amount {
    padding: 5px;
    background-color: #9a031e;
    width: fit-content;
    align-self: center;
    color: #f2f4f3;
    border: 1px solid #f2f3f4;
    border-radius: 5px;
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
    font-size: small;
}

/* Game buttons */
.btn {
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #1a936f;
    color: antiquewhite;
    position: relative;
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
}

.buttons {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;
    width: 80%;
    margin: 10px;
    align-items: center;
    flex: 2 0 auto;
}

.hit-div,
.stay-div {
    padding: 3px;
    position: relative;
    bottom: 5px;
}

.btn-hit,
.btn-stay {
    font-size: 100%;
}

.betting-sums {
    background-color: #9A031E;
    color: #f2f4f3;
    margin: 3px;
    border: 1px solid #f2f4f3;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 5px;
}

.betting-sums input {
    text-align: center;
    border-radius: 5px;
    width: 40%;
}

.betting-sums input:disabled {
    display: none;
}

#current-bet {
    background-color: #1a936f;
    color: #f2f4f3;
    margin: 5px;
    border: 1px solid #f2f4f3;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    align-self: center;
}

.bets {
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
}

main .btn:hover {
    background-color: #134e3c;
    transition: 0.4s;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    display: none;
    justify-content: center;
    flex-direction: row;
    background-color: #f2f4f3;
    width: 100%;
    height: 40px;
}

/* How to play button */
.btn-rules {
    background-color: #9A031E;
}

main .btn-rules:hover {
    background-color: #550413;
    transition: 0.4s;
}

/* Modal container styling */
.modal-container {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Enables scrollng if needed */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content h2,
#modal-end-game h2 {
    padding-bottom: 10px;
    color: #f2f4f3;
    background-color: #9A031E;
    text-align: center;
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 3px;
}

.modal-content p {
    padding: 10px;
}

.modal-content {
    background-color: #f2f4f3;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #f2f4f3;
    width: 80%;
    font-family: 'Kanit', Verdana, Tahoma, sans-serif;
}

.close-x {
    color: #0a0908;
    float: right;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 35px;
    left: 15px;
    cursor: pointer;
}

.close-x:hover {
    color: #9A031E;
    transition: 0.4s;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {

    .player-area,
    .dealer-area {
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
    }

    .player-area img,
    .dealer-area img {
        /* This prevents the cards from shrinking */
        flex: 0 0 auto;
        /* For overlap adjustment */
        margin-right: -70px;
        position: relative;
        /* Centers the stack of cards */
        right: 40px;
    }

    .player-area img:nth-child(2),
    .dealer-area img:nth-child(2) {
        /* Puts the newer cards on top */
        z-index: 2;
        /* Overlap adjustment */
        margin-right: -70px;
    }

    .player-area img:nth-child(3),
    .dealer-area img:nth-child(3) {
        /* Puts the newer cards on top */
        z-index: 3;
        /* Overlap adjustment */
        margin-right: -70px;
    }

    .player-area img:nth-child(4),
    .dealer-area img:nth-child(4) {
        /* Puts the newer cards on top */
        z-index: 4;
        /* Overlap adjustment */
        margin-right: -70px;
    }

    .player-area img:nth-child(5),
    .dealer-area img:nth-child(5) {
        /* Puts the newer cards on top */
        z-index: 5;
        /* Overlap adjustment */
        margin-right: -70px;
    }

    .player-area img:nth-child(6),
    .dealer-area img:nth-child(6) {
        /* Puts the newer cards on top */
        z-index: 6;
        /* Overlap adjustment */
        margin-right: -70px;
    }
}